@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);













#header4-c H1 {
  font-family: 'Roboto Condensed', sans-serif;
  color: #ffffff;
}
#header4-c P {
  font-family: 'Roboto Condensed', sans-serif;
  color: #ffffff;
  font-size: 21px;
}
#ext_menu-1 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-1.mbr-navbar--stuck .mbr-navbar__section {
  background: #efefef;
}
#ext_menu-1 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-1 .mbr-navbar__items a {
  font-size: 32px;
  font-family: 'Roboto Condensed', sans-serif;
}
#form1-b .mbr-header__text {
  color: #4c6972;
  font-family: 'Indie Flower', cursive;
  font-size: 46px;
}
#form1-b .btn {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 17px;
}
#msg-box5-4 .mbr-header__text {
  color: #7ac673;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 32px;
}
#msg-box5-4 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-4 .mbr-article {
  color: #000000;
  font-family: 'Roboto Condensed', sans-serif;
}
#msg-box5-5 .mbr-header__text {
  color: #7ac673;
  text-align: left;
  font-size: 32px;
  font-family: 'Roboto Condensed', sans-serif;
}
#msg-box5-5 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-5 .mbr-article {
  color: #000000;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: left;
}
#msg-box5-5 .mbr-article P {
  color: #4c6972;
  text-align: right;
}
#msg-box5-6 .mbr-header__text {
  color: #7ac673;
  font-size: 32px;
  font-family: 'Roboto Condensed', sans-serif;
}
#msg-box5-6 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-6 .mbr-article {
  color: #000000;
  font-family: 'Roboto Condensed', sans-serif;
}
#msg-box5-6 .mbr-article P {
  color: #4c6972;
}
#contacts1-9 P {
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 17px;
}
#contacts1-9 STRONG {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #ffffff;
}
